.stat-cards {
  width: 152px;
  height: 76px;
  padding: 10px;
  box-shadow: 0 0 0 1px #e3e3e3, 0 1px 1px #b5b5b5;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 630px) {
  .stat-cards {
    width: 100%;
  }
}

.stat-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 5px;
  padding: 10px 0;
}

.chart-container{
   border: 1px solid #E3E3E3;
   border-radius: 10px;
   height: 362px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* gap: 50px; */
}

.chart {
  height: 310px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chart-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 10px 0 10px ;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .chart-header {
    justify-content: center;
  }
}
